<%= form_for [@project_lead, Comment.new] do |form| %>
  <div class="field">
    <%= form.text_area :body, class: 'form-control', placeholder: 'Add a Comment' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
