<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      Your are assigned manager to : <%= @phase.name %> Phase.
    </p>
  </body>
</html>
