<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      Your are assigned manager to : <%= @phase.name %> Phase.
    </p>
    <%# <p><%= link_to 'Accept Phase an Add Engineer', project_lead_phase_path(@project_lead, @phase) </p> %>
  </body>
</html>
